<section class="order">
  <mat-button-toggle-group (change)="loadFoods($event.value)" class="toggle-group">
    <mat-button-toggle value="fit"><i class="fa fa-apple-whole"></i> Fit Food</mat-button-toggle>
    <mat-button-toggle value="desayuno"><i class="fa fa-mug-saucer"></i> Desayunos</mat-button-toggle>
    <mat-button-toggle value="almuerzo"><i class="fa fa-utensils"></i> Almuerzos</mat-button-toggle>
    <mat-button-toggle value="cena"><i class="fa fa-bowl-food"></i> Cenas</mat-button-toggle>
  </mat-button-toggle-group>


  <div *ngFor="let food of foods" class="food-card">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>{{ food.name }}</mat-card-title>
        <mat-card-subtitle>{{ food.description }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="food.image" alt="{{ food.name }}">
      <mat-card-content>
        <p>Calorías: {{ food.calories }}</p>
        <p>Proteínas: {{ food.proteins }}g</p>
        <p>Carbohidratos: {{ food.carbohydrates }}g</p>
        <p>Grasas: {{ food.fats }}g</p>
        <p>Precio: S/{{ food.price }}</p> 
      </mat-card-content>
      <mat-card-actions>
        <button (click)="addToCart(food)" mat-button color="primary">Agregar a la cesta</button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>
