.order{
  background-color: #D3F2CE;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 40px;
  padding: 20px;
  text-align: center;
  background-color: #FFFFFF;
  width: 300px;
  margin: 20px;
}

.card img {
  border-radius: 70%;
  width: 180px;
  height: 180px;
}

.card button {
  background-color: #FFA726;
  color: white;
  padding: 15px 32px;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.card button:hover{
  background-color: #F2F2F2;
  border: 2px solid #FFA726;
  color: #8B4513;
}

.card h2{
  color: #0A732F;
}

.card p{
  color: #8B4513;
}

.card .price{
  color: #8B4513;
}
.toolbar-food{
  background-color: transparent;
  flex-direction: row-reverse;
  display: block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.food-button{
  background-color: #D3F2CE;
  color: #8B4513;
  border: transparent;
  display: inline;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
  padding: 10px;
  width: 250px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
}

.food-button:hover{
  background-color: #F2F2F2;
  border: 2px solid #FFA726;
}
