.body {
  background-color: #D3F2CE;
}

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 550px;
  text-align: center;
  background-color: #FFFFFF;
}

.card img {
  border-radius: 70%;
  width: 30%;
  height: 30%;
}

.card button {
  background-color: #FFA726;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.card h2{
  color: #0A732F; /*color del combo*/
}

.card p{
  color: #8B4513; /*color de la info*/
}

.card .price{
  color: #8B4513; /*color del precio*/
}
