<section class="order">
  <div class="card">
    <img src="assets/images/sushi-salmon-aguacate.jpg" alt="Sushi de Salmón con palta">
    <h2>Combo "Sabores del mar" </h2>
    <p>Sushi roll de salmón y palta + Sopa de pescado con vegetales</p>
    <p>Calorías:  300 + 200 kcal<br>
      Proteínas:  15  +  10 g<br>
      Grasas:  10  +  5  g</p>
    <p class="price">S/  28.90</p>
    <button>Agregar a la cesta</button>
  </div>

  <div class="card">
    <img src="assets/images/lomo-saltado.jpg" alt="Lomo Saltado">
    <h2>Combo "Fusión Peruana"</h2>
    <p>Lomo saltado + Causa rellena de atún</p>
    <p>Calorías:  400 + 250 kcal<br>
      Proteínas:  20  +  10 g<br>
      Grasas:  15  +  10  g</p>
    <p class="price">S/  28.90</p>
    <button>Agregar a la cesta</button>
  </div>

  <div class="card">
    <img src="assets/images/tacutacu-lomo.jpg" alt="tacu tacu con lomo">
    <h2>Combo "Peruvian Delight"</h2>
    <p>Tacu tacu con lomo saltado + Ají de gallina con arroz integral</p>
    <p>Calorías:  500 + 250 kcal<br>
      Proteínas:  30  +  15 g<br>
      Grasas:  20  +  18  g</p>
    <p class="price">S/  28.90</p>
    <button>Agregar a la cesta</button>
  </div>

  <div class="card">
    <img src="assets/images/seco-de-cordero.jpg" alt="Seco de Cordero">
    <h2>Combo "Cocina Criolla"</h2>
    <p>Ají de gallina con arroz + Seco de cordero con frejoles y arroz integral</p>
    <p>Calorías:  500 + 450 kcal<br>
      Proteínas:  20  +  25 g<br>
      Grasas:  25  +  20  g</p>
    <p class="price">S/  28.90</p>
    <button>Agregar a la cesta</button>
  </div>

  <div class="card">
    <img src="assets/images/arroz-con-pato.jpg" alt="arroz con pato">
    <h2>Combo "Criollo Especial"</h2>
    <p>Arroz con pato + Chupe de camarones</p>
    <p>Calorías:  450 + 400 kcal<br>
      Proteínas:  25  +  20 g<br>
      Grasas:  20  +  15  g</p>
    <p class="price">S/  28.90</p>
    <button>Agregar a la cesta</button>
  </div>

  <div class="card">
    <img src="assets/images/ensalada-de-quinoa.jpg" alt="Ensalada de quinoa">
    <h2>Combo "Vegetariano Fresco"</h2>
    <p>Ensalada de quinoa con vegetales frescos +  Papa rellena de espinacas y queso</p>
    <p>Calorías:  300 + 250 kcal<br>
      Proteínas:  10  +  8 g<br>
      Grasas:  10  +  10  g</p>
    <p class="price">S/  28.90</p>
    <button>Agregar a la cesta</button>
  </div>

</section>
