<section class="payment">
  <div class="payment-view">
    <div class="deposita">
      <p>Deposita el monto a esta cuenta de banco:</p>
    </div>
    <div class="cuentas">
      <div class="data-cuenta">
        <p>Numero de cuenta BCP:  </p>
        <h4>0123-4567-8901-2345<br></h4>
      </div>
      <div class="data-interbancaria">
        <p>Numero de cuenta interbancaria (CGI):  </p>
        <h4>002-123-456789012345-XX</h4>
      </div>
    </div>
    <div class="button-div">
      <a mat-button class="pay">Ingresar comprobante</a>
    </div>
  </div>
</section>
