<section class="payment">
  <div class="payment-view">
    <div class="deposita">
      <p>Deposita el monto a esta cuenta de banco:</p>
    </div>
    <div class="formas-de-pago">
      <div class="cuentas">
        <p>Transferencia Interbancaria:<br> </p>
        <div class="data-cuenta">
          <p>Numero de cuenta BCP:<br> </p>
          <h4>0123-4567-8901-2345<br></h4>
        </div>
        <div class="data-interbancaria">
          <p>Numero de cuenta interbancaria (CGI): <br></p>
          <h4>002-123-456789012345-XX</h4>
        </div>
      </div>
      <div class="yape">
        <p>Yape: </p>
        <img class="qr-image" alt="Yape QR" src="./assets/images/qr.png" >
      </div>
    </div>
    <div class="button-div">
      <span class="custom-button">Seleccionar archivo</span>
      <input type="file" class="pay">
    </div>
    <div class="idk-div" *ngIf="!showPopup">
      <button mat-button class="end-payment-button" (click)="popUpEnd()">Terminar Pago</button>
    </div>
  </div>
</section>

<div class="check-popup" *ngIf="showPopup">
  <i class="fa fa-circle-check"></i>
  <p>Su compra a sido realizada con exito<br>Gracias por su preferencia</p>
  <i class="fa fa-circle-xmark" routerLink="/order"> Return</i>
</div>
