<div class="w-full h-[100vh]">
  <mat-toolbar class="toolbar" color="primary">
    <h1 class="logo">Health Food</h1>
    <div class="mat-spacer"></div>
    <a class="buttons" mat-button  [routerLink]="'/home'">Inicio</a>
    <a class="buttons" mat-button  [routerLink]="'/faq'">FAQ</a>
    <a class="buttons" mat-button  [routerLink]="'/iniciosesion'">Iniciar Sesion</a>
    <a class="buttons" mat-button  [routerLink]="'/registro'">Registrase</a>
    <a class="buttons" mat-button (click)="cerrarSesion()" *ngIf="userService.isLoggedIn">Cerrar Sesión</a>
  </mat-toolbar>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
