<section class="profile">
  <div class="profile-info">
    <img src = "{{fotoPerfil}}" alt="Imagen de perfil" class="profile-image">
    <div class="user-details">
      <h2>{{ nombre }} {{apellido}}</h2>
      <p class="uppercase-text">{{ correoElectronico }}</p>
    </div>
    <hr class="divider-line">
  </div>
  <div class="menu-container">
    <button class="menu-button" *ngFor="let item of menuItems" (click)="showProfilePopup()">
      <i class="{{ item.icon }}"></i>
      <span>{{ item.text }}</span>
    </button>
    <button class="menu-button" (click)="cerrarSesion()">
      <i class='fa fa-sign-out'></i>
      <span>Cerrar Sesion</span>
    </button>
  </div>
</section>
<div class="profile-popup" *ngIf="showPopup">
  <div class="profile-popup-content">
    <div class="popup-profile-info">
      <a class="info">Mis Datos</a>
      <div class="popup-user-details">
        <div>
          <label>Nombre: </label>
          <p *ngIf="!editandoNombre">{{ nombre }}</p>
          <input *ngIf="editandoNombre" [(ngModel)]="nombreEditado" type="name">
        </div>
        <div>
          <label>Apellidos: </label>
          <p *ngIf="!editandoApellido">{{ apellido }}</p>
          <input *ngIf="editandoApellido" [(ngModel)]="apellidoEditado" type="lastname">
        </div>
        <div>
          <label>Correo Electrónico: </label>
          <p *ngIf="!editandoCorreo">{{ correoElectronico }}</p>
          <input *ngIf="editandoCorreo" [(ngModel)]="correoEditado" type="email">
        </div>
        <div>
          <label>Teléfono: </label>
          <p *ngIf="!editandoTelefono">{{ telefono }}</p>
          <input *ngIf="editandoTelefono" [(ngModel)]="telefonoEditado" type="phone">
        </div>
        <a class="update-button" mat-button  *ngIf="!editandoNombre" (click)="editarDatos()">Editar Datos</a>
        <a class="update-button" mat-button *ngIf="editandoNombre" (click)="guardarDatos()">Actualizar Datos</a>
      </div>
    </div>
  </div>
</div>
