.profile{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh ;
  background-color: #D3F2CE;
  padding: 50px;
}
.profile-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.profile-image {
  width: 130px;
  height: 120px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-button{
  border-radius: 40px;
  color: #8B4513;
  background-color: #97E896;
  padding: 10px;
}
.profile-button:hover{
  color: #28AE61;
  background-color: #F2F2F2;
  border-radius: 40px;
  border: 2px solid #FFA726;
  padding: 10px;
}

.update-button{
  border-radius: 40px;
  color: #8B4513;
  background-color: #FFA726;
  padding: 10px;
}
.update-button:hover{
  color: #28AE61;
  background-color: #F2F2F2;
  border-radius: 40px;
  border: 2px solid #FFA726;
  padding: 10px;
}
.user-details {
  text-align: left;
  margin-bottom: 15px;
}

.user-details h2 {
  font-size: 40px;
  margin: 0;
}

.user-details p {
  font-size: 18px;
  margin: 0;
}



.profile-links {
  margin-top: 50px;
  text-align: left;
}
.uppercase-text {
  text-transform: uppercase;
}
.profile-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 15px;
  font-size: 18px;
  width: 100%;
}


.profile-link span {
  font-size: 30px;
  flex: 1;
}
.profile-link button {
  font-size: 30px;
}

.profile-link i.fa-credit-card {
  margin-right: 10px;
  font-size: 28px;
  margin-right: 30px;
}
.profile-link i.fa-cog{
  margin-right: 10px;
  font-size: 28px;
  margin-right: 30px;
}
.profile-link i.fa-lock{
  margin-right: 10px;
  font-size: 28px;
  margin-right: 30px;
}
.profile-link i.fa-user{
  margin-right: 10px;
  font-size: 28px;
  margin-right: 30px;
}
.profile-link i.fa-question-circle{
  margin-right: 10px;
  font-size: 28px;
  margin-right: 30px;
}
.profile-popup {
  width: 55%;
  height: 65%;
  position: absolute;
  left: 40%;
  top: 30%;
  background-color: #edebeb;
  border-radius: 20px;
}
.popup-profile-info{
  text-align: left;
  flex-wrap: wrap;
  justify-content: center;
  padding:30px;
}
.popup-profile-info p {
  font-size: 20px;
  flex: 1;
}
.popup-profile-info h3 {
  font-size: 35px;
  flex: 1;
}
.popup-profile-info button{
  left: 70%;
  position: absolute;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(235, 105, 105);
}
.popup-profile-info  a button {
  left: 60%;
  top: 23%;
  font-size: 15px;
  position: absolute;
}
.popup-profile-info  p button {
  left: 80%;
  top: 23%;
  font-size: 15px;
  position: absolute;
}
.popup-profile-image{
  width: 100px;
  height: 100px;
  border-radius: 80%;
  position:relative;
  margin-left: 30px;
}

.popup-user-details button{
  font-size: 15px;
  position: absolute;
  margin-top: -40px;
  margin-left: 90px;
}
input[type="text"] {
  width: 60%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.select-field {
  margin-left: 0px;
  width: auto;
  appearance: none;
  padding: 8px 24px 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff;
  cursor: pointer;
}

.select-field option:hover {
  background-color: #007bff;
  color: #fff;
}


.select-field option:checked {
  background-color: #007bff;
  color: #fff;
}
.popup-user-details button.guardar {
  left: 460px;
  top: 280px;
}
.popup-user-details button.save {
  left: 460px;
  top: 360px;
}
.popup-user-details button.sa {
  left: 460px;
  top: 440px;
}
